<p style="color: green"><%= notice %></p>

<h1>Articles</h1>


<div id="articles">
  <% @resource.each do |resource| %>
    <%= render resource %>
    <p>
      <%= link_to "Show this article", resource %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
